<!DOCTYPE html>
<html lang="ja-JP">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>出品 - メルカリ スマホでかんたん フリマアプリ</title>
    <meta name="description"
          content="CMで話題！フリマアプリ「メルカリ」は、スマホから誰でも簡単に売り買いが楽しめるフリマアプリです。購入時はクレジットカード・キャリア決済・コンビニ・銀行ATMで支払いでき、品物が届いてから出品者に入金される独自システムで安心です。">

    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="syuppin_main.css">


</head>
<body>
<div class="single-container">

    <main class="single-main">
        <section class="l-single-container">
            <div id="sell-container">
                <div data-reactroot="">
                    <div class="sell-container-inner">
                        <h2 class="l-single-head">商品の情報を入力</h2>
                        <form class="sell-form">
                            <div class="sell-upload-box">
                                <h3 class="sell-upload-head">出品画像
                                    <span class="form-require">必須</span>
                                </h3>
                                <p>最大10枚までアップロードできます</p>
                                <div class="sell-dropbox-container clearfix">
                                    <div class="sell-upload-items-container">
                                        <div class="sell-upload-items">
                                            <ul></ul>
                                        </div>
                                    </div>
                                    <div class="sell-upload-drop-box">
                                        <input type="file" class="sell-upload-drop-file" multiple="" name="image1"
                                               style="display: none;">
                                        <pre class="visible-pc">ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード</pre>
                                        <i class="icon-camera"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="sell-content">
                                <div class="form-group">
                                    <label>商品名<span class="form-require">必須</span></label>
                                    <div>
                                        <input class="input-default" value="" placeholder="商品名（必須 40文字まで)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>商品の説明<span class="form-require">必須</span></label>
                                    <textarea class="textarea-default" rows="5"
                                              placeholder="商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"></textarea>
                                </div>
                            </div>
                            <div class="sell-content clearfix">
                                <h3 class="sell-sub-head">商品の詳細</h3>
                                <div class="sell-form-box">
                                    <div class="form-group"><label>カテゴリー<span
                                            class="form-require">必須</span></label>
                                        <div>
                                            <div class="select-wrap"><select class="select-default">
                                                <option value="">---</option>
                                                <option value="1">レディース</option>
                                                <option value="2">メンズ</option>
                                                <option value="3">ベビー・キッズ</option>
                                                <option value="4">インテリア・住まい・小物</option>
                                                <option value="5">本・音楽・ゲーム</option>
                                                <option value="1328">おもちゃ・ホビー・グッズ</option>
                                                <option value="6">コスメ・香水・美容</option>
                                                <option value="7">家電・スマホ・カメラ</option>
                                                <option value="8">スポーツ・レジャー</option>
                                                <option value="9">ハンドメイド</option>
                                                <option value="1027">チケット</option>
                                                <option value="1318">自動車・オートバイ</option>
                                                <option value="10">その他</option>
                                            </select><i class="icon-arrow-bottom"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>商品の状態<span class="form-require">必須</span></label>
                                        <div class="select-wrap">
                                            <select class="select-default">
                                                <option value="">---</option>
                                                <option value="1">新品、未使用</option>
                                                <option value="2">未使用に近い</option>
                                                <option value="3">目立った傷や汚れなし</option>
                                                <option value="4">やや傷や汚れあり</option>
                                                <option value="5">傷や汚れあり</option>
                                                <option value="6">全体的に状態が悪い</option>
                                            </select>
                                            <i class="icon-arrow-bottom"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sell-content clearfix">
                                <h3 class="sell-sub-head">配送について</h3>
                                <a href="" target="_blank" class="form-question">?</a>
                                <div class="sell-form-box">
                                    <div class="form-group">
                                        <label>配送料の負担<span class="form-require">必須</span></label>
                                        <div class="select-wrap">
                                            <select class="select-default">
                                                <option value="">---</option>
                                                <option value="2">送料込み(出品者負担)</option>
                                                <option value="1">着払い(購入者負担)</option>
                                            </select>
                                            <i class="icon-arrow-bottom"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>発送元の地域<span class="form-require">必須</span></label>
                                        <div class="select-wrap">
                                            <select class="select-default">
                                                <option value="">---</option>
                                                <option value="1">北海道</option>
                                                <option value="2">青森県</option>
                                                <option value="3">岩手県</option>
                                                <option value="4">宮城県</option>
                                                <option value="5">秋田県</option>
                                                <option value="6">山形県</option>
                                                <option value="7">福島県</option>
                                                <option value="8">茨城県</option>
                                                <option value="9">栃木県</option>
                                                <option value="10">群馬県</option>
                                                <option value="11">埼玉県</option>
                                                <option value="12">千葉県</option>
                                                <option value="13">東京都</option>
                                                <option value="14">神奈川県</option>
                                                <option value="15">新潟県</option>
                                                <option value="16">富山県</option>
                                                <option value="17">石川県</option>
                                                <option value="18">福井県</option>
                                                <option value="19">山梨県</option>
                                                <option value="20">長野県</option>
                                                <option value="21">岐阜県</option>
                                                <option value="22">静岡県</option>
                                                <option value="23">愛知県</option>
                                                <option value="24">三重県</option>
                                                <option value="25">滋賀県</option>
                                                <option value="26">京都府</option>
                                                <option value="27">大阪府</option>
                                                <option value="28">兵庫県</option>
                                                <option value="29">奈良県</option>
                                                <option value="30">和歌山県</option>
                                                <option value="31">鳥取県</option>
                                                <option value="32">島根県</option>
                                                <option value="33">岡山県</option>
                                                <option value="34">広島県</option>
                                                <option value="35">山口県</option>
                                                <option value="36">徳島県</option>
                                                <option value="37">香川県</option>
                                                <option value="38">愛媛県</option>
                                                <option value="39">高知県</option>
                                                <option value="40">福岡県</option>
                                                <option value="41">佐賀県</option>
                                                <option value="42">長崎県</option>
                                                <option value="43">熊本県</option>
                                                <option value="44">大分県</option>
                                                <option value="45">宮崎県</option>
                                                <option value="46">鹿児島県</option>
                                                <option value="47">沖縄県</option>
                                                <option value="99">未定</option>
                                            </select>
                                            <i class="icon-arrow-bottom"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>発送までの日数<span class="form-require">必須</span></label>
                                        <div class="select-wrap">
                                            <select class="select-default">
                                                <option value="">---</option>
                                                <option value="1">1~2日で発送</option>
                                                <option value="2">2~3日で発送</option>
                                                <option value="3">4~7日で発送</option>
                                            </select><i class="icon-arrow-bottom">
                                        </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sell-content clearfix">
                                <h3 class="sell-sub-head">販売価格(300〜9,999,999)</h3>
                                <a href="" target="_blank" class="form-question">?</a>
                                <div class="sell-form-box">
                                    <ul class="sell-price">
                                        <li class="form-group">
                                            <div class="clearfix">
                                                <label class="l-left">価格<span class="form-require">必須</span></label>
                                                <div class="l-right sell-price-input">¥
                                                    <div>
                                                        <input class="input-default" value="" placeholder="例）300">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="l-left">販売手数料 (10%)</div>
                                            <div class="l-right">-</div>
                                        </li>
                                        <li class="clearfix bold">
                                            <div class="l-left">販売利益</div>
                                            <div class="l-right">-</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal" role="dialog" tabindex="-1">
                                <div class="modal-inner"></div>
                            </div>
                            <div class="sell-content sell-btn-box">
                                <div>
                                    <p><a href="" target="_blank">禁止されている出品</a>
                                        <a href="" target="_blank">行為</a>を必ずご確認ください。</p>
                                    <p>またブランド品でシリアルナンバー等がある場合はご記載ください。
                                        <a href="" target="_blank">偽ブランドの販売</a>
                                        は犯罪であり処罰される可能性があります。</p>
                                    <p>また、出品をもちまして<a href="">加盟店規約</a>に同意したことになります。</p>
                                </div>
                                <button type="submit" class="btn-default btn-red">出品する</button>
                                <a class="btn-default btn-gray">もどる</a>
                            </div>
                        </form>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    // 手数料の計算
    $(function () {
        $('#item_price').keyup(function () {
            var price = $(this).val();

            if (price >= 300) {
                var commission = Math.ceil(price * 0.1);
                var profit = price - commission
                $('.default-fee').text('¥' + commission);
                $('.profit_price').text('¥' + profit);
            } else {
                $('.default-fee').text('-');
                $('.profit_price').text('-');
            }
        });

        if ($('#item_price').val() < 300 || $('#item_price').val() >= 9999999) {
            $('.price-fail').removeClass('hide');
        } else {
            $('.price-fail').addClass('hide');
        }
        $(".sell_item_submit").prop("disabled", false);
    });
</script>

</body>
</html>
