.listing-item-change-box{
    margin: 24px 0 24px 0;
    background: #fff;
    display: block;
    padding: 8px 16px 8px 16px;
}
.btn-gray{
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
}
.btn-product {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    margin: 16px 0 16px 0;
}
.users-product__main-content{
    float: right;
    width: 700px;
    display: block
}

.user-product__text-center{
    font-size: 16px;
    text-align: center;
}
.users-product__top-content{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    margin-bottom: 16px;
}
