.short-footer
  .short-footer-link
    = link_to "#", class: "footer-link__form" do
      %span.short-footer-link__form--text
        プライパシーポリシー
      %span.short-footer-link__form--text
        メルカリ利用規約
      %span.short-footer-link__form--text
        特定商取引に関する表記
  .short-footer__logo
    = link_to "#", class: "footer__logo--link" do
      = image_tag "logo-gray.svg", class: "icon_image"
  %P.short-footer--text
    &copy; 2019 Mercari