-# ログアウト画面
%main.main__container.clearfix
    .content
      .chapter__container
        .single-inner{action: "#", method: "POST", novalidate: "novalidate"}
          .single__content
            %button.btn.btn-red{type: "submit"} ログアウト
            %input{name: "__csrf_value", type: "hidden", value: "#"}/
