.main__card-box{
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}
.l-content{
    width: 700px;
    height: 666px;
    display: block;
    background: #fff;
    margin: 0 auto;
}
.l-chapter-container{
    margin-bottom: 64px;
}
.l-chapter-head{
    display: block;
    font-size: 24px;
    padding: 8px 0;
    // margin-block-start: 0.83em;
    // margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.4;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
}
.input-default{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 0 16px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
}
.l-single-inner{
    padding: 64px;
}
.l-single-content{
    max-width: 320px;
    margin: 0 auto;
}
.signup-card-list {
    margin: 8px 0 0;
    font-size: 0;
    padding-left: 0;
}
.img {
    width: 49px;
    height: 20px;
}
.signup-card-list-inner{
    vertical-align: middle;
    display:table-cell;
}
.form-group{
    font-weight: 600;
    margin: 40px 0 0;
    width: 320px;
}
.select-default{
    position: relative;
    z-index: 2;
    height: 48px;
    display: inline-block;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    width: 85%;
}
.select-main{
    // display: grid;
}
.select-wrap{
    width: 45%;
    margin: 8px 0 0;
    position: relative;
    background: #fff;
}
.payment_card_no {
    display: inline-block;
}
.form-require{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
}
#cvc{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 0 16px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
}
ul{
    list-style: none;
}

.signup-seqcode{
    position: relative;
    margin: 8px 0 0;
    text-align: right;
    color: #0099e8;
    width: 354px;
}
.signup-seqcode-text{
    display: inline-block;
}
.form-question{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
}
#token_submit{
    margin: 40px 0 70px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 354px;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    min-height: 1.5em;
}
