= render 'common/top_header'

.stutas__main-content
  %section.mypage-tab-container
    %h2.mypage-tab-head 出品した商品
    %ul.listing-tabs
      %li.active
        %h3.status 出品中
      %li.active
        %h3.status 取引中
      %li.active
        %h3.status 売却済み
    .tab-content
      %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane.active
        %li.mypage-item-not-found 取引中の商品がありません
        = image_tag 'スクリーンショット 2019-05-24 12.46.26.png', alt: 'stutas-logo', height: '50px', width: '50px', class: 'status-logo'
%ul.mypage-history.pager
  %li.pager-prev.pager-cell
  %li.pager-next.pager-cell                    
        