%body
  .main
    .main-content
      .head-content
        購入を確定しますか？
      .body-content
        .top-content
          =image_tag'http://sozaing.com/wp-content/uploads/IMG_6208-540x360.jpg.pagespeed.ce.mFatfLiPUC.jpg', class: 'top-content-img' 
          .top-content_title 腕時計

        .second-content
          %p.second-content_price ¥2,000
          %span.second-content_price_right 送料込み
          .second-content_point
            .second-content_point ポイン卜を使う
          .second-content_purchese
            .second-content_purchese-left 支払い金額
            .second-content_purchese-right ¥2,000
          .second-content_btn 購入する
              
        .third-content
          .third-content_adress
            %h 配送先
            .adress
              郵便番号
              %br>/
              住所
              %br>/
              名前
            %a.change 変更する>
            
        .bottom-content
          .bottom-content_purches
            %h 支払い方法
            .purches /
            %a.change 変更する>
= render 'common/sidebar'