* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
}

h2 {
  font-size: 22px;
  line-height: 1.4;
}

.l-container {
  margin: 24px auto 0;
  padding: 0 0 40px;
}

a, area, button, input, label, select, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button, input, select, textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button, input, select, textarea {
  background-color: transparent;
}

input {
  -webkit-border-radius: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

img, audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

.set-prof-icon .input-default {
  width: 220px;
  margin: 0 0 0 8px;
  vertical-align: middle;
}

.input-default {
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select {
  min-height: 1.5em;
}

textarea {
  min-height: 1.5em;
  border-radius: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  resize: vertical;
}

a, area, button, input, label, select, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@media screen and (min-width: 1068px) {
  .l-container {
    margin: 40px auto 0;
    width: 1020px;
  }
}

@media screen and (min-width: 768px) {
  .l-container {
    width: 700px;
  }
  .right-container-header {
    font-size: 24px;
    padding: 8px 24px;
  }
}