/* トップページ メイン */
.white {
  background-color: #fff;
}

main {
  display: block;
}

@mixin clearfix {
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}

.top-carousel {
  height: 390px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.top-page-image-carousel {
  position: relative;
}

.top-page-image-stage {
  padding: 0;
  margin-top: 0;
}

.top-carousel {
  .top-page-image-stage-outer, .top-page-image-stage {
    height: 100%;
  }
  .top-page-image-item {
    height: 100%;
    > a {
      height: 100%;
    }
  }
}

.top-page-image-carousel {
  .top-page-image-stage-outer {
    position: relative;
    overflow: hidden;
  }
  .top-page-image-item {
    float: left;
    user-select: none;
    &-img {
      height: 390px;
      width: 100%;
      object-fit: cover;
    }
  }
}


.top-carousel {
  .top-page-image-nav {
    color: transparent;
    display: block;
  &-prev {
    background-image: url(/jp/assets/img/common/jp/top/carousel-prev.png);
    left: 60px;
  }
  &-next, &-prev {
    cursor: pointer;
    height: 46px;
    width: 31px;
    position: absolute;
    top: 50%;
    transform: translateY(-23px);
  }
  &-dots {
    display: block;
    margin: -30px;
    text-align: center;
    line-height: 0;
    }
  }
}


/* ピックアップカテゴリー以下 */
.pickup__container {
  padding: 40px 0;
  background: #f5f5f5;
  h2 {
    font-size: 28px;
    text-align: center;
    line-height: 1.4;
  }
  .items__container {
    width: 940px;
    margin: 0 auto;
    > h3 {
      font-size: 22px;
      margin: 26px 11px;
    }
  }
}

.text-center {
  text-align: center;
  a {
    text-decoration: none;
    color: #0099e8;
  }
}

.items__content {
  width: auto;
  margin: 0 auto;
  // 以下の記述でclearfixを呼び出しています。
  @include clearfix();
}

.items_box {
  position: relative;
  float: left;
  width: 48%;
  background: #fff;
  a {
    display: block;
    color: #333;
    background-color: white;
    text-decoration: none;
  }
  &-photo {
    overflow: hidden;
    position: relative;
    width: 213px;
    height: 213px;
    margin: 0;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 213px;
      height: 213px;
      object-fit: cover;
    }
  }
  &-details {
    position: relative;
    padding: 16px;
    height: 110px;
  }
  &-title {
    overflow: hidden;
    position: relative;
    height: 3em;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
    margin: 0;
  }
  &-num {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 8px 0 0;
    bottom: 20px;
  }
  &-price {
    font-size: 17px;
  }
  &-tax {
    position: absolute;
    font-size: 10px;
    margin: 0;
    bottom: 10px;
  }
}

.pickup__container .items__container .items_box {
  margin: 0 0 20px 20px;
  width: 213px;
  float: left;
}



.font-2 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-decoration: none;
}

.font-5 {
  font-weight: 600;
  color: #333;
}


.picture {
  opacity: 1;
  transition: opacity .3s;
}


.pickup__container .view-all-products {
  padding: 20px 0 30px;
  width: 99.5%;
  text-align: right;
  & a {
    color: #0099e8;
    text-decoration: none;
  }
}
