// plofile sass

.right-content {
  width: 100%;
  max-width: 700px;
  float: right;
  .right-container-box {
    margin: 40px 0 0;
    background: #fff;
  }
}

.set-prof-icon {
  padding: 72px 16px 24px;
  background: image-url("mypage/user-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 0;
  figure {
    display: inline-block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
  }
  .input-default {
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    width: 220px;
    margin: 0 0 0 8px;
    vertical-align: middle;
  }
}

.set-prof-cont {
  padding: 40px 16px;
  .textarea-default {
    min-height: 216px;
  }
}

.textarea-default {
  display: block;
  width: 97%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.set-prof-cont .btn-red {
  margin: 16px 0 0;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.right-container-header {
  padding: 12px 4%;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  font-size: 18px;
}
