<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<main class=" l-container clearfix">
    <div class="l-content">
        <section class="l-chapter-container">
            <h2 class="l-chapter-head">プロフィール</h2>

            <form action="https://www.mercari.com/jp/mypage/profile/" method="POST" class="">
                <input type="hidden" name="__csrf_value"
                       value="5dbb94b91ac6aa8adbf1bbe7f80b969893e401388771a8a3258709d954b7e14f4f517260fb35d5e7d98920632c8c041de5cdb1b5c08311c8a57bd3e00dbc66384">


                <div class="setting-profile-icon">
                    <figure>
                        <img src="//static.mercdn.net/thumb/members/797372017.jpg?1514414793" width="60" height="60">
                    </figure>
                    <input type="text" value="神戸神戸" name="nickname" placeholder="例)AYA☆セール中" class="input-default">
                </div>

                <div class="setting-profile-content">
                    <textarea name="introduction"
                              placeholder="例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"
                              class="textarea-default"></textarea>

                    <input type="hidden" value="https://www.mercari.com/jp/mypage/profile/" name="after_save_callback">
                    <button type="submit" class="btn-default btn-red">変更する</button>
                </div>
            </form>
        </section>
    </div>

    <div class="l-side">
        <nav class="mypage-nav">


            <ul class="mypage-nav-list">
                <li>
                    <a href="/jp/mypage/" class="mypage-nav-list-item ">
                        マイページ
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/notification/" class="mypage-nav-list-item ">
                        お知らせ
                        <span class="mypage-nav-number">
                          6
                      </span>
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/todo/" class="mypage-nav-list-item ">
                        やることリスト
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/like/history/" class="mypage-nav-list-item ">
                        いいね！一覧
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/sell/" class="mypage-nav-list-item">
                        出品する
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>


                <li>
                    <a href="/jp/mypage/listings/listing/" class="mypage-nav-list-item ">
                        出品した商品 - 出品中
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/listings/in_progress/" class="mypage-nav-list-item ">
                        出品した商品 - 取引中
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/listings/completed/" class="mypage-nav-list-item ">
                        出品した商品 - 売却済み
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>


                <li>
                    <a href="/jp/mypage/purchase/" class="mypage-nav-list-item ">
                        購入した商品 - 取引中
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/purchased/" class="mypage-nav-list-item ">
                        購入した商品 - 過去の取引
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/news/" class="mypage-nav-list-item ">
                        ニュース一覧
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/review/history/" class="mypage-nav-list-item ">
                        評価一覧
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/help_center/" class="mypage-nav-list-item">
                        ガイド
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/support/" class="mypage-nav-list-item ">
                        お問い合わせ
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

            </ul>

            <h3 class="mypage-nav-head">メルペイ</h3>
            <ul class="mypage-nav-list">
                <li>
                    <a href="/jp/mypage/sales/" class="mypage-nav-list-item ">
                        売上・振込申請
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/point/" class="mypage-nav-list-item ">
                        ポイント
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
            </ul>


            <h3 class="mypage-nav-head">設定</h3>
            <ul class="mypage-nav-list">
                <li>
                    <a href="/jp/mypage/profile/" class="mypage-nav-list-item active">
                        プロフィール
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/deliver_address/" class="mypage-nav-list-item ">
                        発送元・お届け先住所変更
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/card/" class="mypage-nav-list-item ">
                        支払い方法
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/email_password/" class="mypage-nav-list-item ">
                        メール/パスワード
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/identification/" class="mypage-nav-list-item ">
                        本人情報
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>

                <li>
                    <a href="/jp/mypage/sms_confirmation/" class="mypage-nav-list-item ">
                        電話番号の確認
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>


                <li>
                    <a href="/jp/logout/" class="mypage-nav-list-item ">
                        ログアウト
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</main>
</body>
</html>