.full_screen_container {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100%;
  background-size: cover;
}
@mixin clearfix {
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
.main__container {
  margin: 40px auto 0;
  width: 1020px;
  // 以下の記述でclearfixを呼び出しています。
  @include clearfix();
}

.my__page {
  &__content {
    float: right;
    width: 700px;
  }
  &__user-icon {
    position: relative;
    height: 200px;
    background: url(IMG_8652.jpg);
    text-align: center;
    &-rgba {
      background-color: rgba(255, 255, 255, 0.5);
      height: 200px;
    }
    figure {
      overflow: hidden;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
    }
    > a {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
      color: #333;
      text-decoration: none;
    }
    h2 {
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 1.4;
    }
  }
  &__number {
    margin: 8px 0 0;
    div {
      display: inline-block;
      font-size: 14px;
      + div {
        margin: 0 0 0 16px;
      }
    }
    span {
      margin: 0 0 0 8px;
      font-size: 16px;
    }
  }
  &__tab__container__notice-todo {
    margin: 0;
    background: #fff;
  }
  &__tab-top {
    border: 0;
    background: #eee;
    padding: 0;
    margin: 0;
    top: 16px;
    right: 2px;
    a {
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
      text-decoration: none;
    }
    li {
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      &.active {
        background: #fff;
        float: left;
        a {
          border-top: 2px solid #ea352d;
        }
      }
    }
    h3 {
      font-size: 22px;
      margin: 0;
    }
  }
  &__item__links {
    display: block;
    min-height: 80px;
    padding: 16px;
    color: #333;
    text-decoration: none;
    a {
      text-decoration: none;
    }
    figure {
      position: relative;
      overflow: hidden;
      float: left;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }
    .fa-chevron-right {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%);
    }
  }
  &__item__lists {
    padding: 0;
    list-style: none;
    li {
      &:first-child {
        border-bottom: 1px solid #eee;
      }
      &:last-child {
        border: 0;
      }
      &.my__page__item__not-find {
        border: 0;
      }
      position: relative;
      border-bottom: 1px solid #eee;
    }
  }
  &__tab-content .my__page__item__lists__tab {
    display: block;
    margin: 0;
    &.active {
      display: block;
    }
  }
  &__item__frame {
    margin: 0 40px 0 68px;
    text-decoration: none;
  }
  &__item__message {
    overflow: hidden;
    display: -webkit-box;
    max-height: 4.4em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.5;
    text-decoration: none;
  }
  &__to-see-list {
    padding: 16px;
    a {
      display: block;
      height: 56px;
      margin: 0 auto;
      background: #eee;
      color: #333;
      line-height: 56px;
      text-align: center;
      text-decoration: none;
    }
  }
  &__item__not-find {
    padding: 160px 0 60px;
    background: url(logo-gray.svg);
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 78px 85px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
  }
  &__tab__container {
    margin: 40px 0 0;
    background: #fff;
  }
  &__tab-buy-top {
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
    margin: 0;
  }
  &__item__state {
    &.done {
      background: #888;
    }
    display: inline-block;
    margin: 8px 0 0 0;
    padding: 5px 6px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
  }
}
.bold {
  font-weight: 600;
}



// マイページの aside (お知らせ)の中身の動き
.modal__window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease-out .3s;
  opacity: 0;
  transform: translate(0, -10px);
  &__banner {
    text-align: center;
    &-image {
      overflow: hidden;
      position: relative;
      background: url(/);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 310px;
      img:first-child {
        width: auto;
        height: 100%;
      }
    }
    &-body {
      padding: 16px 2.5%;
    }
  }
  &__inner {
    max-width: none;
    width: 600px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background: #fff;
    .icon-close {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.64);
      text-align: center;
      line-height: 44px;
      color: #fff;
      cursor: pointer;
    }
  }
}
