.full_screen_container
  %main.main__container.clearfix
    = render "common/sidebar"
    -# sidebarと繋げること ログアウトページ
    .logout__content
      .chapter__container
        .single-inner
          .single__content
            %button.btn.logout__btn-red
              = link_to "#" do
                ログアウト
