%header.pc-heder.visible-pc
  .pc-header-inner
    .pc-header-top
      %h1
        %a{:href => "#"}
          %img{:alt => "mercari", :height => "36", :src => "#", :width => "134"}/
      %form.pc-header-form{:action => "#"}
        %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %i.icon-search
          %i.fas.fa-search
    .pc-heder-nav-box.clearfix
      %nav.l-left
        %ul.pc-header-nav
          %li
            %h2
              %a.pc-header-nav-root.list-parent{:href => "#"}
                %i.icon-list.pc-header-cat-brand-icon
                  %i.fas.fa-list-ul
                %span カテゴリーから探す
            %ul.pc-header-nav-parent-wrap{"data-mega" => "1", :style => "width: auto;"}
              %li.pc-header-nav-parent
                %h3
                  %a{:href => "#"}
                    レディース
                %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
                  %li.pc-header-nav-child
                    %a{:href => "#"} トップス
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} Tシャツ/カットソー（半袖/袖なし）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} Tシャツ/カットソー（七分/長袖）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} シャツ/ブラウス（半袖/袖なし）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} シャツ/ブラウス（七分/長袖）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ポロシャツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} キャミソール
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} タンクトップ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ホルターネック
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ニット/セーター
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} チュニック
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} カーディガン/ボレロ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} アンサンブル
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ベスト/ジレ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} パーカー
                  %li.pc-header-nav-child
                    %a{:href => "#", "https:" => ""} ジャケット/アウター
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} テーラードジャケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ノーカラージャケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} Gジャン/デニムジャケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} レザージャケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ダウンジャケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ライダースジャケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ミリタリージャケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ダウンベスト
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ジャンパー/ブルゾン
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ポンチョ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ロングコート
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} トレンチコート
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ダッフルコート
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ピーコート
                  %li.pc-header-nav-child
                    %a{:href => "#"} パンツ
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} デニム/ジーンズ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ショートパンツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} カジュアルパンツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ハーフパンツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} チノパン
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ワークパンツ/カーゴパンツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} クロップドパンツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} サロペット/オーバーオール
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} オールインワン
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} サルエルパンツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ガウチョパンツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} スカート
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ミニスカート
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ひざ丈スカート
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ロングスカート
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} キュロット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} ワンピース
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ミニワンピース
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ひざ丈ワンピース
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ロングワンピース
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} 靴
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ハイヒール/パンプス
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ブーツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} サンダル
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} スニーカー
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ミュール
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} モカシン
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ローファー/革靴
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} フラットシューズ/バレエシューズ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 長靴/レインシューズ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} ルームウェア/パジャマ
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} パジャマ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ルームウェア
                  %li.pc-header-nav-child
                    %a{:href => "#"} レッグウェア
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ソックス
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} スパッツ/レギンス
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ストッキング/タイツ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} レッグウォーマー
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} 帽子
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ニットキャップ/ビーニー
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ハット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ハンチング/ベレー帽
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} キャップ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} キャスケット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 麦わら帽子
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} バッグ
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ハンドバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} トートバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} エコバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} リュック/バックパック
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ボストンバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} スポーツバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ショルダーバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} クラッチバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ポーチ/バニティ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ボディバッグ/ウェストンバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} マザーズバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} メッセンジャーバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ビジネスバッグ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 旅行用バッグ/キャリーバッグ
                  %li.pc-header-nav-child
                    %a{:href => "#"} アクセサリー
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ネックレス
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ブレスレット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} バングル/リストバンド
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} リング
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ピアス（片耳用）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ピアス（両耳用）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} イヤリング
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} アンクレット
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ブローチ/コサージュ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} チャーム
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} ヘアアクセサリー
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ヘアゴム/シュシュ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ヘアバンド/カチューシャ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ヘアピン
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
                  %li.pc-header-nav-child
                    %a{:href => "#"} 小物
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 長財布
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 折り財布
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} コインケース/小銭入れ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 名刺入れ/定期入れ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} キーケース
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} キーホルダー
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 手袋/アームカバー
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ハンカチ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ベルト
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} マフラー/ショール
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ストール/スヌード
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} バンダナ/スカーフ
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ネックウォーマー
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} サスペンダー
                  %li.pc-header-nav-child
                    %a{:href => "#"} 時計
                    %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 腕時計（アナログ）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 腕時計（デジタル）
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} ラバーベルト
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} レザーベルト
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} 金属ベルト
                      %li.pc-header-nav-grand-child
                        %a{:href => ""} その他
              %li.pc-header-nav-child
              %li.pc-header-nav-child
          %li
            %h2
              %a.pc-header-nav-root.list-parent{:href => ""}
                %i.icon-tag.pc-header-cat-brand-icon
                  %i.far.fa-bookmark
                %span ブランドから探す
              %ul.pc-header-nav-parent-wrap
                %li.pc-header-nav-parent
                  %h3
                    %a{:href => ""} シャネル
                %li.pc-header-nav-parent
                  %h3
                    %a{:href => ""} ナイキ
                %li.pc-header-nav-parent
                  %h3
                    %a{:href => ""} ルイ ヴィトン
                %li.pc-header-nav-parent
                  %h3
                    %a{:href => ""} シュプリーム
                %li.pc-header-nav-parent
                  %h3
                    %a{:href => ""} アディダス
                %li.pc-header-nav-parent
                  %h3
                    %a{:href => ""} ブランド一覧
      .l-right
        %ul.pc-header-login-nav
          %li
            %a.sp-header-btn.btn-red{:href => ""} ログイン
          %li
            %a.sp-header-btn.header-sigup{:href => ""} 新規会員登録
