
%aside .app-banner
    .app-banner-pc
        .app-banner-pc-inner
          %h2 スマホでかんたんフリマアプリ
          %p 今すぐ無料ダウンロード！
            .app-banner-icon.clearfix
                %figure
                  %img{:alt => "", :src => "image/mercari_icon.png", :width => "68"}/

              %ul .clearfix
                    %li
                      %a{:href => "", :target => "_blank"}

                        %img{:alt => "", :height => "40", :src => "image/app-store.svg", :width => "133"}/

                        %a{:href => "", :target => "_blank"}
                          %img{:alt => "", :height => "40", :src => "image/google-play.svg", :width => "133"}/

        %figure
          %img{:alt => "", :src => "image/download_content_pc.png"}/

// aside END

<footer class="global-footer">
    <nav class="clearfix">
        <div class="footer-cell">
            <h2 class="footer-head">メルカリについて</h2>
            <ul>
                <li>
                    <a href="#">会社概要（運営会社）</a>
                </li>
                <li>
                    <a href="#">採用情報</a>
                </li>
                <li>
                    <a href="#">プレスリリース</a>
                </li>
                <li>
                    <a href="#" target="_blank">公式ブログ</a>
                </li>
                <li>
                    <a href="#">メルカリロゴ利用ガイドライン</a>
                </li>
                <li class="footer-social-link">
                    <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                </li>
                <li class="footer-social-link">
                    <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-cell">
            <h2 class="footer-head">ヘルプ＆ガイド</h2>
            <ul>
                <li>
                    <a href="">メルカリガイド</a>
                </li>
                <li>
                    <a href="">らくらくメルカリ便</a>
                </li>
                <li>
                    <a href="">ゆうゆうメルカリ便</a>
                </li>
                <li>
                    <a href="">大型メルカリ便</a>
                </li>
                <li>
                    <a href="">車体取引ガイド</a>
                </li>
                <li>
                    <a href="" target="_blank">メルカリあんしん・あんぜん宣言！</a>
                </li>
                <li>
                    <a href="">偽ブランド品撲滅への取り組み</a>
                </li>
                <li>
                    <a href="">メルカリボックス</a>
                </li>
            </ul>
        </div>
        <div class="footer-cell full-width">
            <h2 class="footer-head">プライバシーと利用規約</h2>
            <div class="inner-footer-cell">
                <ul>
                    <li>
                        <a href="">プライバシーポリシー</a>
                    </li>
                    <li>
                        <a href="">メルカリ利用規約</a>
                    </li>
                    <li>
                        <a href="">あんしんスマホサポート制度に関する利用特約</a>
                    </li>
                    <li>
                        <a href="">コンプライアンスポリシー</a>
                    </li>
                </ul>
            </div>
            <div class="inner-footer-cell cel-r-box">
                <ul>
                    <li>
                        <a href="">個人データの安全管理に係る基本方針</a>
                    </li>
                    <li>
                        <a href="">特定商取引に関する表記</a>
                    </li>
                    <li>
                        <a href="">資金決済法に基づく表示</a>
                    </li>
                    <li>
                        <a href="">法令順守と犯罪抑止のために</a>
                    </li>
                    <li>
                        <a href="">返品・返金ポリシー</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-cell footer-nav-lang">
            <h2 class="footer-head">国</h2>
            <ul>
                <li>
                    <a href="" class="active">日本</a>
                </li>
                <li>
                    <a href="">United States</a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="footer-bottom">
        <a href="" class="footer-logo">
            <img src="image/logo-white.svg" width="124" height="33" alt="mercari">
        </a>
        <span class="footer-copyright">
      <small>© 2019 Mercari</small>
    </span>
    </div>
</footer>
<a class="footer-sell-btn" href="">
    <div>出品</div>
    <i class="icon-camera"></i>
</a>
<!-- footer END -->
