
%aside .app-banner
    .app-banner-pc
        .app-banner-pc-inner
          %h2 スマホでかんたんフリマアプリ
          %p 今すぐ無料ダウンロード！
            .app-banner-icon.clearfix
                %figure
                  %img{:alt => "", :src => "image/mercari_icon.png", :width => "68"}/

              %ul .clearfix
                %li
                  %a{:href => "", :target => "_blank"}
                    %img{:alt => "", :height => "40", :src => "image/app-store.svg", :width => "133"}/

                  %a{:href => "", :target => "_blank"}
                    %img{:alt => "", :height => "40", :src => "image/google-play.svg", :width => "133"}/

        %figure
          %img{:alt => "", :src => "image/download_content_pc.png"}/

// aside END

%footer .global-footer
    %nav .clearfix
        .footer-cell
            %h2 .footer-head メルカリについて
            %ul
                %li
                  %a{:href => "#"} 会社概要（運営会社）

                %li
                  %a{:href => "#"} 採用情報
                %li
                  %a{:href => "#"} プレスリリース
                %li
                  %a{:href => "#", :target => "_blank"} 公式ブログ

                %li
                  %a{:href => "#"} メルカリロゴ利用ガイドライン
                %li .footer-social-link
                  %a{:href => "#", :target => "_blank"}
                    %i .icon-twitter"
                %li .footer-social-link
                  %a{:href => "#", :target => "_blank"}
                    %i.icon-facebook

        .footer-cell
            %h2 .footer-head ヘルプ＆ガイド</h2
            %ul
                %li
                  %a{:href => "#"} メルカリガイド
                %li
                  %a{:href => "#"}らくらくメルカリ便
                %li
                  %a{:href => "#"}ゆうゆうメルカリ便
                %li
                  %a{:href => "#"}大型メルカリ便
                %li
                  %a{:href => "#"}車体取引ガイド
                %li
                  %a{:href => "#", :target => "_blank"}メルカリあんしん・あんぜん宣言！
                %li
                    %a{:href => "#"}偽ブランド品撲滅への取り組み
                
                %li
                    %a{:href => "#"}メルカリボックス
                
            
        
        .footer-cell.full-width
            %h2 .ooter-head プライバシーと利用規約
            .inner-footer-cell
                %ul
                    %li
                        %a{:href => "#"}プライバシーポリシー
                    
                    %li
                        %a{:href => "#"}メルカリ利用規約
                    
                    %li
                        %a{:href => "#"}あんしんスマホサポート制度に関する利用特約
                    
                    %li
                        %a{:href => "#"}コンプライアンスポリシー
                    
                
            
            .inner-footer-cell.cel-r-box
                %ul
                    %li
                        %a{:href => "#"}個人データの安全管理に係る基本方針
                    
                    %li
                        %a{:href => "#"}特定商取引に関する表記
                    
                    %li
                        %a{:href => "#"}資金決済法に基づく表示
                    
                    %li
                        %a{:href => "#"}法令順守と犯罪抑止のために
                    
                    %li
                        %a{:href => "#"}返品・返金ポリシー
                    
                
            
        
        .footer-cell footer-nav-lang
            5h2 .footer-head 国
            %ul
                %li
                  %a.active{:href => ""} 日本
                
                %li
                    %a{:href => "#"}United States





  .footer-bottom
    %a.footer-logo{:href => ""}
        %img{:alt => "mercari", :height => "33", :src => "image/logo-white.svg", :width => "124"}/


      %span.footer-copyright
      %small © 2019 Mercari


%a.footer-sell-btn{:href => ""}

    出品
  %i.icon-camera

<!-- footer END -->
